<button mat-button (click)="copyTasks()" color="primary" matTooltip="Copy All Tasks" style="cursor:default;">
  <mat-icon>file_copy</mat-icon>
  Copy All Tasks
</button>
<mat-form-field>
  <mat-label>Choose Position IDs</mat-label>
  <mat-select [(ngModel)]="positions" multiple>
    <mat-option *ngFor="let position of laborMappings" [value]="position">
        {{position.positionId}} | {{position.laborClassName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<table class="w-100 lcsummary-table">
  <tr class="border-bottom" style="background-color: #1f4e79; color: white;">
    <th></th>
    <th style="width:175px; height: 40px;">Task ID</th>
    <th>Task Name</th>
    <th style="width:150px;">Respondent name</th>
    <th style="width:100px;">Status</th>
    <th style="width:150px;">Validated by</th>
    <th style="width:150px;">Last edited by</th>
    <th style="width:60px;">Hours</th>
    <th style="width:100px;word-break:break-word;">Feedback</th>
    <th style="width:60px;">Actions</th>
  </tr>
  <tr *ngFor="let summary of result" class="border-bottom">
    <td>
      <i class="material-icons info text-primary"
        title="{{summary.tasks[0].serviceMatrixByTaskId.serviceName+'/'+summary.tasks[0].serviceMatrixByTaskId.program+'/'+summary.tasks[0].serviceMatrixByTaskId.subProgram+'/'+summary.tasks[0].serviceMatrixByTaskId.taskCategory}}">info</i>
    </td>
    <td>{{summary.taskId}}</td>
    <td>{{summary.tasks[0].serviceMatrixByTaskId.taskName}}</td>
    <td colspan="7">
      <table class="w-100">
        <tbody>
        <!-- <tr *ngFor="let task of summary.tasks; index as i"> -->
        <tr *ngFor="let task of summary.tasks; index as i" [class.border-top]="i>0">
          <td style="width:150px; height: 35px;">{{task.user.userName}}</td>
          <td style="width:100px;">
            <div *ngIf="task.statusBySttsId != null">
              {{task.statusBySttsId.statusCode}}
            </div>
          </td>
          <td style="width:150px;">
            <div *ngIf="task.userByApproverId != null">
              {{task.userByApproverId.userName}}
            </div>
          </td>
          <td style="width:150px;">
            <div *ngIf="task.userByEditedBy != null">
              {{task.userByEditedBy.userName}}
            </div>
          </td>
          <td style="width:60px;" class="text-center">{{task.inputHours}}</td>
          <td style="width:100px;">{{task.feedback}}</td>
          <td style="width:60px;">
            <i class="material-icons info text-primary" title="Edit" *ngIf="(task.userId == user.id &&  task.sttsId != 'A') || user.userRoleByCsRoleId.roleName == 'c_lead'"
              (click)="editInput(task)">edit</i>
            <i class="material-icons info text-danger" title="Remove" *ngIf="(task.userId == user.id && task.sttsId != 'A') || user.userRoleByCsRoleId.roleName == 'c_lead'"
              (click)="deleteInput(task)">delete</i>
            <i class="material-icons info text-success" title="Approve"
              (click)="approveCSInput(task)" *ngIf="user.userRoleByCsRoleId.roleName == 'c_lead'">check_circle</i>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr *ngIf="result == null || result == undefined || result.length == 0">
    <td colspan="9" class="text-center">No records found</td>
  </tr>
</table>
