.task-container{
  width: 100%;
}

.mat-form-field{
  width: 100%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

mat-toolbar  span, mat-toolbar  a  span {
  font-size: 10pt;
}

.help-text-icon {
  font-size: 14px;
}

.input-task-feedback-lbl {
  margin: 3px 3px 3px 10px !important;
}

.input-task-feedback-area {
  margin: 3px 3px 10px 10px !important;
}

.w-65{
  width: 65%;
}

.w-94{
  width: 94%;
}

.task-input-multiplier:disabled, .input-task-feedback-area:disabled {
  background-color: #FEFEFE;
}

::ng-deep .mat-tooltip  {
 white-space: pre-line    !important;
 font-size: 10px   !important;
}
