<mat-toolbar>
  <div class="row w-100 m-0">
  <div class="col-md-6">
  <span> <b>Task Details</b> </span>

  <button mat-button color="primary" matTooltip="User Info" style="cursor:default;">
      <mat-icon>account_box</mat-icon>
      {{user.userName}}
    </button>
    <button mat-button color="primary" matTooltip="Region" style="cursor:default;">
        <mat-icon>language</mat-icon>
        {{selectedRegion}}
      </button>
  </div>
  <div class="col-md-6 text-right">
    <span> <b>Actions: </b></span>
    <button mat-button color="primary" (click)="goBackToMatrix()">
      <mat-icon>arrow_back</mat-icon>
      Back to Catalog
    </button>
    <a mat-button color="primary" title="Provide Feedback" target="_new" href="https://deloitteus.sharefile.com/home/shared/fo8dafd8-6efd-428c-aa4f-2e7bf8643f16">
        <mat-icon>feedback</mat-icon>
    </a>
    <a mat-button color="primary" title="Training Materials" target="_new" href="https://deloitteus.sharefile.com/home/shared/fo8dafd8-6efd-428c-aa4f-2e7bf8643f16">
        <mat-icon>file_copy</mat-icon>
    </a>
    <button mat-button color="primary" (click)="backToLogin()">
      <mat-icon>power_settings_new</mat-icon>
      Logout
    </button>
  </div>
  </div>
</mat-toolbar>

<ngb-alert *ngIf="approved && userRole==='m_resp' && approvedMsgResp !== null" type="success"
  (close)="approvedMsgResp = null">{{ approvedMsgResp }}</ngb-alert>
<ngb-alert *ngIf="approved && (userRole==='m_lead' || userRole==='admin') && approvedMsgLead !== null" type="success"
  (close)="approvedMsgLead = null">{{ approvedMsgLead }}</ngb-alert>


<div class="task-container" *ngIf="task != undefined">
  <mat-card class="example-card m-3">
    <mat-card-header>
      <mat-card-title>{{task.taskName}}</mat-card-title>
      <mat-card-subtitle>{{task.serviceName}} / {{task.program}} / {{task.subProgram}} /{{task.taskCategory}}
      </mat-card-subtitle>

    </mat-card-header>
    <mat-divider matInset></mat-divider>
    <mat-card-content class="py-3">
      <div class="row">
        <div class="col-md-6">
          <mat-card>
            <mat-card-actions class="m-0 p-0 mb-3">
              <table class="text-white w-100" style="background: #1f4e79; height: 80px;">
                <tr>
                  <td colspan="3">
                      <label for="inputmul" style="margin-left:10px; margin-bottom: 0px; margin-top: 5px;">Input Multiplier<i class="material-icons help-text-icon"
                        matTooltip="Displays the input recorded for this task. This is the only field that requires an input from respondents in this exercise. ">help</i></label>
                  </td>
                </tr>
                <tr>
                  <td>
                      <input id="inputmul" type="number" name="test_name" min="0" class="task-input-multiplier"
                      oninput="validity.valid||(value='');" [(ngModel)]="multiplier" [disabled]="saveRespInputDisabled">
                  </td>
                  <td>
                      <button mat-button class="text-dark bg-white task-input-multiplier-btn" (click)="saveResponse()" [disabled]="saveRespInputDisabled || multiplier == undefined || multiplier == 0">
                          <mat-icon>save</mat-icon>
                          Save Response
                        </button>
                  </td>
                  <td>
                      <button mat-button class="text-dark bg-white task-input-multiplier-btn" (click)="viewInputs()" [disabled]="task['inputCount'] == 0"
                      *ngIf="(userRole==='admin' || userRole==='m_lead')">
                      <mat-icon>touch_app</mat-icon>
                      Review Inputs ({{task['inputCount']}})
                    </button>
                  </td>
                </tr>
              </table>
              <!-- <div class="row mx-0 text-white p-2" style="background: #1f4e79; ">
                <div class="col-sm-4">
                      <label for="inputmul">Input Multiplier<i class="material-icons help-text-icon"
                          matTooltip="Displays the input recorded for this task. This is the only field that requires an input from respondents in this exercise. ">help</i></label>
                      <input id="inputmul" type="number" name="test_name" min="0"
                        oninput="validity.valid||(value='');" [(ngModel)]="multiplier" [disabled]="saveRespInputDisabled">

                </div>
                <div class="col-sm-4 pt-4">
                      <button mat-raised-button class="text-dark" (click)="saveResponse()" [disabled]="saveRespInputDisabled || multiplier == undefined || multiplier == 0">
                      <mat-icon>save</mat-icon>
                      Save Response
                    </button>

                  </div>
                  <div class="col-sm-4 pt-4">
                      <button mat-raised-button class="text-dark" (click)="viewInputs()" [disabled]="task['inputCount'] == 0"
                        *ngIf="(userRole==='admin' || userRole==='m_lead')">
                        <mat-icon>touch_app</mat-icon>
                        Review Inputs ({{task['inputCount']}})
                      </button>

                    </div>
              </div> -->
            </mat-card-actions>
            <mat-divider matInset></mat-divider>
            <mat-card-content>
              <div class="row pt-3">
                <div class="col-sm-6">
                  <mat-form-field appearance="outline">
                    <mat-label>Task Description</mat-label>
                    <textarea matInput id="taskdesc" name="taskdesc" rows="5" cols="30" disabled class="border-0 font-color-black"> {{task.taskDesc}} </textarea>
                  </mat-form-field>
                </div>
                <div class="col-sm-6">                  
                    <mat-form-field appearance="outline">
                  <mat-label>Input Multiplier Description</mat-label>
                  <textarea matInput id="multiDesc" name="multiDesc" rows="5" cols="30" disabled class="border-0 font-color-black"> {{task.multDesc}} </textarea>
                </mat-form-field>
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-sm-6">
                    <mat-form-field appearance="outline">
                  <mat-label>Desired Performance</mat-label>
                  <textarea matInput id="taskdesc2" name="taskdesc" rows="5" cols="30" disabled class="border-0 font-color-black"> {{task.desiredPerf}} </textarea>
                </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline">
                  <mat-label>Additional Budget Factor(s)</mat-label>
                  <textarea matInput  id="multiDesc2" name="multiDesc" rows="5" cols="30" disabled class="border-0 font-color-black"> {{task.addtnlBudgetFator}} </textarea>
                </mat-form-field>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6">
          <mat-card>
            <mat-card-actions class="m-0 p-0 mb-3">
              <div class="row mx-0" style="max-height:80px;">
                  <div class="col-sm-3">
                <mat-form-field>
                  <label for="frequency">Frequency <i class="material-icons help-text-icon"
                      matTooltip="Number of times per year that the task needs to be accomplished (predefined).">help</i></label>
                  <input id="frequency" matInput value="{{task.frequency}}" readonly>
                </mat-form-field></div>
                <div class="col-sm-6">
                <mat-form-field>
                  <label for="totallaborhours">Total time of Labor Hours <i class="material-icons help-text-icon"
                      matTooltip="Sum of time per labor classification (predefined).">help</i></label>
                  <input id="totallaborhours" matInput value="{{task.totalLaborHours}}" readonly>
                </mat-form-field></div>
                <div class="col-sm-3">

                <mat-form-field>
                  <label for="totalhours">Total Hours <i class="material-icons help-text-icon"
                      matTooltip="Product of multiplier (input), times the total time of labor hours, times the frequency (automatically calculated).">help</i></label>
                  <input id="totalhours" matInput value="{{task.totalLaborHours * task.frequency * multiplier}}"
                    readonly>
                </mat-form-field></div>
              </div>
            </mat-card-actions>
            <mat-divider matInset></mat-divider>
            <mat-card-content>
              <div class="row pt-3">
                <div class="col-sm-8">
                  <label for="laborTable">Labor Classification<i class="material-icons help-text-icon"
                      matTooltip="Displays the time that each labor classification would spend on the task in question, in the future state / at mission level (predefined). ">help</i></label>
                  <table id="laborTable" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1 w-100">
                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef> Title </th>
                      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                    <ng-container matColumnDef="role">
                      <th mat-header-cell *matHeaderCellDef> Code </th>
                      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                    </ng-container>
                    <ng-container matColumnDef="time">
                      <th mat-header-cell *matHeaderCellDef> Time (hours) </th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.time}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <!--  <mat-paginator
          [pageSizeOptions]="[3, 5, 7]" showFirstLastButtons></mat-paginator> -->
                </div>
                <div class="col-sm-4">
                  <label for="justcat">Justification Category</label>
                  <table id="justcat" mat-table [dataSource]="dataSourceJustification" matSort
                    class="mat-elevation-z1 w-100">
                    <ng-container matColumnDef="categoryName">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsJustification"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsJustification;"></tr>
                  </table>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
