
<mat-toolbar >
  <h4> Task Details &nbsp;&nbsp; </h4>
    <mat-icon matListAvatar color="primary" matTooltip = "User Info">account_box</mat-icon>
    <span>{{user.userName}} &nbsp;&nbsp;</span>
  <mat-icon matListAvatar color="primary">language</mat-icon>
  <span > {{selectedRegion}} &nbsp;&nbsp;</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span> <b>Actions: </b> &nbsp;&nbsp;</span>


  <button mat-button color = "primary" (click)="goBackToMatrix()">
      <mat-icon>arrow_back</mat-icon>
      Back to Matrix
  </button>

  <button mat-button color = "primary" (click)="backToLogin()">
      <mat-icon>power_settings_new</mat-icon>
      Logout
  </button>
</mat-toolbar>

<div class="task-container">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{task.taskName}}</mat-card-title>
    <mat-card-subtitle>{{task.serviceName}} / {{task.program}} / {{task.subProgram}} /{{task.taskCategory}}</mat-card-subtitle>

  </mat-card-header>
  <mat-divider matInset></mat-divider>
  <mat-card-actions align="center">
    <mat-form-field >
      <input matInput placeholder="Input Multiplier" type="number" name="test_name" min="0" oninput="validity.valid||(value='');" [(ngModel)]="multiplier">
    </mat-form-field>
    <button mat-button color = "primary" (click)="saveResponse()">
        <mat-icon>save</mat-icon>
        Save Response
    </button>
    <button mat-button color = "primary" (click)="viewInputs()">
        <mat-icon>touch_app</mat-icon>
        View Inputs
    </button>

  </mat-card-actions>
  <mat-card-content>

  <mat-card>
    <div class = "row1">
      <div class="column" >
        <label for="taskdesc">Task Description</label>
        <textarea id="taskdesc" name="taskdesc"
                  rows="3" cols="30" readonly> {{task.taskDesc}}
        </textarea>
      </div>
      <div class="column">
        <label for="multiDesc">Input Multiplier Description</label>
        <textarea id="multiDesc" name="multiDesc"
                  rows="3" cols="30" readonly> {{task.multDesc}}
        </textarea>
      </div>
    </div>
    <br>
    <div class = "row4">
      <div class="column" >
        <label for="taskdesc">Desired Performance</label>
        <textarea id="taskdesc" name="taskdesc"
                  rows="3" cols="30" readonly> {{task.desiredPerf}}
        </textarea>
      </div>
      <div class="column">
        <label for="multiDesc">Additional Budget Factor(s)</label>
        <textarea id="multiDesc" name="multiDesc"
                  rows="3" cols="30" readonly> {{task.addtnlBudgetFator}}
        </textarea>
      </div>
    </div>
  </mat-card>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>

    <div class = "row2">
      <div class="column">
        <label for="frequency">Frequency</label>
        <textarea id="frequency" name="frequency" readonly style="overflow:hidden"
                      rows="1" cols="10"> {{task.frequency}}
        </textarea>
      </div>
      <div class="column">
        <label for="laborhours">Total time of Labor Hours</label>
        <textarea id="laborhours" name="laborhours" readonly style="overflow:hidden"
                      rows="1" cols="10"> {{task.totalLaborTime}}
        </textarea>
      </div>
      <div class="column">
        <label for="totalHours">Total Hours</label>
        <textarea id="totalHours" name="totalHours" style="overflow:hidden"
                      rows="1" cols="10" readonly> {{task.totalHours}}
        </textarea>
      </div>
    </div>


  <div class = "row3">
    <div class="column" style="width:60%">
      <label for="laborTable">Labor Classification</label>
      <table id="laborTable" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Labor Class Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Labor Classification Code </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Time Labor Class </th>
          <td mat-cell *matCellDef="let element"> {{element.time}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="column" style="width:40%">
      <label for="justcat">Justification Category</label>
        <mat-list id="justcat">
         <mat-list-item *ngFor = "let jc of task.jrsdctnCtgriesByTaskId">
           <mat-icon color="primary">play_arrow </mat-icon>
           {{jc.categoryName}}
          </mat-list-item>
        </mat-list>
    </div>
  </div>
  </mat-card-content>
</mat-card>
</div>
