/*.titleRow {
  display: flex;
  justify-content: center;
  background-color: red;
}

.titleColumn {
  flex: 95%;
  max-width: 95%;
  text-align: left;
}

.taskRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.taskColumn {
  flex: 50%;
  max-width: 95%;
}

.column  {
  margin : 5px;
}

button  {
  margin : 20px;
}

.column > mat-form-field  {
  margin : 5px;
}

mat-card-content, mat-card-title, mat-card-actions {
    text-align: center;
}



mat-toolbar > span, mat-toolbar > a > span {
  font-size: 10pt;
}  */

.task-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

mat-card {
  margin: 15px;
}


.row1, .row2, .row3, .row4 {
  display: flex;
  flex-direction: row;
  padding: 0 4px;
  justify-content: space-between;
}
.row2, .row3 {
  padding-top: 40px;
}

.row1 > .column, .row4 > .column {
  flex: 50%;
  min-width: 50%;
}

.row2 > .column {
  flex: 33%;
  min-width: 33%;
}

.row3 > .column1 {
  flex: 60%;
  max-width: 60%;
  text-align: center;
}

.row4 {
  margin-top: 20px;
}


textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

mat-toolbar > span, mat-toolbar > a > span {
  font-size: 10pt;
}

textarea {
  margin-left: 10px;
}


.help-text-icon {
  font-size: 14px;
}