<div align="center" class="mb-4">
  <mat-toolbar>
    <div class="row w-100 m-0">
      <div class="col-md-6 text-left">
        <span> <b>Task Catalog</b> </span>

        <button mat-button color="primary" matTooltip="User Info" style="cursor:default;">
          <mat-icon>account_box</mat-icon>
          {{user.userName}}
        </button>
        <button mat-button color="primary" matTooltip="Region/Branch/District" style="cursor:default;">
          <mat-icon>language</mat-icon>
          {{selectedRegionObj.regionByRegionId.regionName}}
        </button>
      </div>
      <div class="col-md-6 text-right">
        <span> <b>Actions: </b></span>
        <button mat-button color="primary" [matMenuTriggerFor]="region">
          <mat-icon>language</mat-icon>
          Choose Region/Branch/District
        </button>

        <mat-menu #region="matMenu">
          <button mat-menu-item *ngFor="let item of regionList" (click)="chooseRegion(item.regionId)">
            {{item.regionByRegionId.regionName}} </button>
        </mat-menu>


        <a mat-button color="primary" title="Provide Feedback" target="_new"
          href="https://deloittesurvey.deloitte.com/Community/se/3FC11B2638966086">
          <mat-icon>feedback</mat-icon>
        </a>
        <a mat-button color="primary" title="Respondent Resource Hub" target="_new"
          href="http://dfgintranet/portal/BusinessOperations/Budget/ServiceBasedBudgeting/Respondents/tabid/2880/Default.aspx">
          <mat-icon>file_copy</mat-icon>
        </a>

        <button mat-button color="primary" (click)="backToLogin()">
          <mat-icon>power_settings_new</mat-icon>
          Logout
        </button>
      </div>
    </div>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" multiTemplateDataRows>
    <ng-container matColumnDef="expansion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background"></th>
      <td mat-cell *matCellDef="let element" style="width:20px;">
        <i class="material-icons expand-icon" *ngIf="element == expandedElement" title="Collapse"
          (click)="expandRow(element)">expand_less</i>
        <i class="material-icons expand-icon" *ngIf="element != expandedElement" title="Expand"
          (click)="expandRow(element)">expand_more</i>
      </td>
    </ng-container>

    <ng-container matColumnDef="positionId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Position ID</th>
      <td mat-cell *matCellDef="let element">
        {{element.positionId}}
      </td>
    </ng-container>

    <ng-container matColumnDef="laborClassName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Labor Class Name</th>
      <td mat-cell *matCellDef="let element">
        {{element.laborClassName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="hours">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Hours Bank</th>
      <td mat-cell *matCellDef="let element">
        {{element.hours}}
      </td>
    </ng-container>

    <ng-container matColumnDef="inputHours">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Hours Entered</th>
      <td mat-cell *matCellDef="let element">
        {{element.hoursEntered}}
      </td>
    </ng-container>

    <ng-container matColumnDef="utilization">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Utilization</th>
      <td mat-cell *matCellDef="let element">
        <i class="material-icons text-success" *ngIf="element.hours >= element.hoursEntered">arrow_downward</i>
        <i class="material-icons text-danger" *ngIf="element.hours < element.hoursEntered">arrow_upward</i>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Actions</th>
      <td mat-cell *matCellDef="let element">
        <!-- <i class="material-icons" title="Add Hours" (click)="showMatrix(element)">add_circle_outline</i> -->
        <button mat-stroked-button color="primary" (click)="showMatrix(element)">
          Add Hours
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" class="example-detail-row-td">
        <div class="example-element-detail w-100"
          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <mat-tab-group class="w-100">
            <mat-tab label="Add Task">
              <ng-template matTabContent>
                <div *ngIf="taskCatalog != null && taskCatalog.length > 0">
                  <app-labor-class-tasks [taskCatalog]="taskCatalog" [hoursBank]="element.hours" 
                   [hoursEntered]="element.hoursEntered" [positionId]="element.positionId" 
                   [regionId]="selectedRegionId" (updateHoursEntered)="updateHoursEnteredFromAdd(element, $event)"></app-labor-class-tasks>
                </div>
              </ng-template>
            </mat-tab>
            <!-- <mat-tab label="Add Task">s
                <ng-template matTabContent>
              <div class="row mx-0 pt-2">
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <mat-select (selectionChange)="filterServices()" [(value)]="servicename"
                      placeholder="Select Service">
                      <mat-option value="{{serviceName}}" *ngFor="let serviceName of serviceNames">{{serviceName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <mat-select (selectionChange)="filterPrograms()" [(value)]="program" placeholder="Select Program"
                      [disabled]="!servicename">
                      <mat-option value="{{program}}" *ngFor="let program of programs">{{program}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <mat-select (selectionChange)="filterSubPrograms()" [(value)]="subprogram"
                      placeholder="Select Sub Program" [disabled]="!program">
                      <mat-option value="{{subprogram}}" *ngFor="let subprogram of subprograms">{{subprogram}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <mat-select (selectionChange)="filterTaskCategories()" [(value)]="taskcategory"
                      placeholder="Select Task Category" [disabled]="!subprogram">
                      <mat-option value="{{tc}}" *ngFor="let tc of taskcategories">{{tc}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mx-0">
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <mat-select [(value)]="taskid" placeholder="Select Task" [disabled]="!servicename">
                      <mat-option value="{{tn.id}}" *ngFor="let tn of tasks" title="{{tn.name}}">{{tn.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Task ID" value="{{taskid}}" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <input matInput type="number" placeholder="Hours" [(ngModel)]="taskhours" name="taskhours">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="w-100">
                    <textarea matInput placeholder="Feedback" [(ngModel)]="feedback" name="feedback"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row mx-0">
                <div class="col-md-12 text-center">
                  <button mat-raised-button (click)="resetAddTaskForm()">Reset</button>
                  <button mat-raised-button color="primary" class="mx-1"
                    [disabled]="!servicename || !taskid || taskhours == 0"
                    (click)="addTask()">Submit</button>
                </div>
              </div>
              </ng-template>
            </mat-tab> -->
            <mat-tab label="Inputs">
              <ng-template matTabContent>
                <app-labor-class-inputs [positionId]="element.positionId" [hoursBank]="element.hours" 
                  [hoursEntered]="element.hoursEntered" (hoursEntered)="updateHoursEntered(element, $event)"
                  [regionId]="selectedRegionObj.regionByRegionId.regionId"></app-labor-class-inputs>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[5, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>