mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell, .mat-header-cell {
  padding: 0.75rem !important;
}

table, mat-paginator {
  width: 90%;
}

.hours-container{
  text-align: center;
}

mat-header-cell {
  display:flex;
  justify-content:flex-end;
 }

 .mat-form-field {
   font-size: 14px;
   width: 50%;
 }

 .mat-row:hover {
  background-color: #DDD;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar  span, mat-toolbar  a  span {
  font-size: 10pt;
}

.table-col-title {
  font-weight: 500;
  color: black;
  font-size: 14px;
}

.table-col-header {
  font-size: 12px;
}

.filter-input{
  width: 75%;
  text-align: left;
}

.th-header-background{
  background: #1f4e79;
  color: white;
  font-size: 14px;
}

.help-text-icon {
  font-size: 14px;
}


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  border: 1px solid #1f4e79;
}

.example-detail-row-td {
  padding: 0px !important;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.expand-icon {
  cursor: pointer;
  color: #1f4e79;
}

.lcsummary-table {
  border-color: lightgray;
}

.lcsummary-table td, .lcsummary-table th {
  padding: 3px;
}

.example-element-detail:hover {
  background-color: white;
}
