<div align="center" class="mb-4">
  <mat-toolbar>
    <div class="row w-100 m-0">
      <div class="col-md-6 text-left">
        <span> <b>Task Catalog</b> </span>

        <button mat-button color="primary" matTooltip="User Info" style="cursor:default;">
          <mat-icon>account_box</mat-icon>
          {{user.userName}}
        </button>
        <button mat-button color="primary" matTooltip="Region/Branch/District" style="cursor:default;">
          <mat-icon>language</mat-icon>
          {{selectedRegionObj.regionByRegionId.regionName}}
        </button>
      </div>
      <div class="col-md-6 text-right">
        <span> <b>Actions: </b></span>
        <button mat-button color="primary" [matMenuTriggerFor]="region">
          <mat-icon>language</mat-icon>
          Choose Region/Branch/District
        </button>

        <mat-menu #region="matMenu">
          <button mat-menu-item *ngFor="let item of regionList"
            (click)="chooseRegion(item.regionId)"> {{item.regionByRegionId.regionName}} </button>
        </mat-menu>


        <a mat-button color="primary" title="Provide Feedback" target="_new"
          href="https://deloittesurvey.deloitte.com/Community/se/3FC11B2638966086">
          <mat-icon>feedback</mat-icon>
        </a>
        <a mat-button color="primary" title="Respondent Resource Hub" target="_new"
          href="http://dfgintranet/portal/BusinessOperations/Budget/ServiceBasedBudgeting/Respondents/tabid/2880/Default.aspx">
          <mat-icon>file_copy</mat-icon>
        </a>

        <button mat-button color="primary" (click)="backToLogin()">
          <mat-icon>power_settings_new</mat-icon>
          Logout
        </button>
      </div>
    </div>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" multiTemplateDataRows>
    <ng-container matColumnDef="expansion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background"></th>
      <td mat-cell *matCellDef="let element" style="width:20px;">
        <i class="material-icons expand-icon" *ngIf="element == expandedElement" title="Collapse" (click)="expandRow(element)">remove_circle_outline</i>
        <i class="material-icons expand-icon" *ngIf="element != expandedElement" title="Expand" (click)="expandRow(element)">add_circle_outline</i>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="positionId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Position ID</th>
      <td mat-cell *matCellDef="let element">
        {{element.positionId}}
      </td>
    </ng-container>

    <ng-container matColumnDef="laborClassName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Labor Class Name</th>
      <td mat-cell *matCellDef="let element">
        {{element.laborClassName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="hours">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Hours Bank</th>
      <td mat-cell *matCellDef="let element">
        {{element.hours}}
      </td>
    </ng-container>

    <ng-container matColumnDef="inputHours">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Hours Entered</th>
      <td mat-cell *matCellDef="let element">
        {{element.inputHours}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Actions</th>
      <td mat-cell *matCellDef="let element">
        <!-- <i class="material-icons" title="Add Hours" (click)="showMatrix(element)">add_circle_outline</i> -->
        <button mat-stroked-button color="primary" (click)="showMatrix(element)">
          Add Hours
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" class="example-detail-row-td">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
             <table class="w-100 lcsummary-table" border="1" >
                <tr>
                  <th>Task ID</th>
                  <th>Service</th>
                  <th>Program</th>
                  <th>Sub Program</th>
                  <th>Task Category</th>
                  <th>Task Name</th>
                  <th>Hours</th>
                </tr>
                <tr *ngFor="let summary of element.csUserLaborClassInputs">
                  <td>{{summary.taskId}}</td>
                  <td>{{summary.serviceMatrixByTaskId.serviceName}}</td>
                  <td>{{summary.serviceMatrixByTaskId.program}}</td>
                  <td>{{summary.serviceMatrixByTaskId.subProgram}}</td>
                  <td>{{summary.serviceMatrixByTaskId.taskCategory}}</td>
                  <td>{{summary.serviceMatrixByTaskId.taskName}}</td>
                  <td>{{summary.inputHours}}</td>
                </tr>
                <tr *ngIf="element.csUserLaborClassInputs == null || element.csUserLaborClassInputs == undefined || element.csUserLaborClassInputs.length == 0">
                  <td colspan="7" class="text-center">No records found</td>
                </tr>
             </table>
        </div>
      </td>
    </ng-container>
    
      <!-- (click)="showMatrix(element)" -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"   class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator #paginator [pageSizeOptions]="[5, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
