<div class="flex-container">

  <div style ="width:100%; background-color: #1f4e79; color: white;">
    <!-- <mat-toolbar color="primary"> -->
      <!-- <div class="row m-0 w-100 p-2 h-100">
        <div class="col-md-2">
            <img src="../assets/SBB.png" alt="" class="logo">
        </div>
        <div class="col-md-8 text-center vertical-middle text-bold">
          {{title}} {{getDataType()}}
        </div>
        <div class="col-md-2 text-right vertical-middle">
            <img src="../assets/CDFW.png" alt="">
        </div>
      </div> -->
      <div class="row m-0 w-100 p-2 h-100">
          <div class="col-md-3">
              <img src="../assets/cdfw-logo.png" alt="" class="logo">
          </div>
          <div class="col-md-6 text-center vertical-middle text-bold">
            {{title}} {{getDataType()}}
            <label style="color: red; font-weight: bold;" *ngIf="!production">***Test Environment***</label>
          </div>
          <div class="col-md-3 text-right vertical-middle">
              <img src="../assets/SBB.png" alt="" class="logo-sbb">
          </div>
        </div>
      <!-- <mat-toolbar-row>
        <img src="../assets/SBB.png" alt="" class="logo">
        <span class="fill-remaining-space">
           Mission Level Data Collection Tool 
        </span>
        <img src="../assets/CDFW.png" alt="">
      </mat-toolbar-row> -->
    <!-- </mat-toolbar> -->
  </div>

  <div class = "main-content">
    <router-outlet #routerOutlet="outlet"> </router-outlet>
    <ngx-spinner
        size = "default"
        color = "#fff"
        type = "ball-pulse"
        fullScreen = "true"
        >
        <p style="color: white" > Loading... </p>
        </ngx-spinner>
  </div>
  <div>
    <footer flex>
      <div class="footer-copyright py-1 pb-1 text-center">
        Please contact the project team at
        <a href="mailto:sbbsupport@wildlife.ca.gov" class="fake-link">sbbsupport@wildlife.ca.gov</a>
        if you need assistance
      </div>
    </footer>
  </div>
</div>
