<div class="flex-container">

  <div style ="width:100%">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <img src="../assets/SBB.png" alt="" class="logo">
        <span class="fill-remaining-space">
           Mission Level Data Collection Tool 
        </span>
        <img src="../assets/CDFW.png" alt="">
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class = "main-content">
    <router-outlet #routerOutlet="outlet"> </router-outlet>
  </div>
  <div>
    <footer flex>
      <div class="footer-copyright py-1 pb-1 text-center">
        Please contact the project team at
        <span class="fake-link">sbbsupport@wildlife.ca.gov</span>
        if you need assistance
      </div>
    </footer>
  </div>
</div>
