.flex-container {
  display:flex;
  /*background-color: green;*/
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  text-align: center;
}

.main-content {
  width:100%;
  /*flex: 1 1 auto;*/
}

footer
 {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align:center;
   background-color: #ccc;
   font-size: 14px;
   padding-top: 3px;
   padding-bottom: 3px
 }

 .fake-link {
     color: blue;
     text-decoration: underline;
     cursor: pointer;
 }
