<div class="flex-container">

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="fill-remaining-space">CDFW SBB Data Collection Tool</span>
        <button mat-button>About</button>
        <button mat-button>Contact</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class = "main-content">
    <router-outlet #routerOutlet="outlet"> </router-outlet>
  </div>
  <div>
    <footer flex>
      <div class="footer-copyright py-3 text-center">
        Please contact the project team at
        <span class="fake-link">jeanperez@deloitte.com</span>
        or
        <span class="fake-link">469-600-7226</span>
        if you need assistance
      </div>
    </footer>
  </div>
</div>
