<div align="center" class="mb-4">
    <mat-toolbar>
        <div class="row w-100 m-0">
        <div class="col-md-6 text-left">
        <span> <b>Task Catalog</b> </span>

        <button mat-button color="primary" matTooltip="User Info" style="cursor:default;">
            <mat-icon>account_box</mat-icon>
            {{user.userName}}
          </button>
          <button mat-button color="primary" matTooltip="Region/Branch/District" style="cursor:default;">
              <mat-icon>language</mat-icon>
              {{selectedRegion}}
            </button>
        </div>
        <div class="col-md-6 text-right">
          <span> <b>Actions: </b></span>
          <button mat-button color = "primary" [matMenuTriggerFor]="region">
              <mat-icon>language</mat-icon>
              Choose Region/Branch/District
          </button>

          <mat-menu #region="matMenu">
            <button mat-menu-item *ngFor="let item of regionList"
            (click)="chooseRegion(item.regionByRegionId.regionName, item.regionByRegionId.regionId)"> {{item.regionByRegionId.regionName}} </button>
          </mat-menu>


          <a mat-button color="primary" title="Provide Feedback" target="_new" href="https://deloittesurvey.deloitte.com/Community/se/3FC11B2638966086">
              <mat-icon>feedback</mat-icon>
          </a>
          <a mat-button color="primary" title="Respondent Resource Hub" target="_new" href="http://dfgintranet/portal/BusinessOperations/Budget/ServiceBasedBudgeting/Respondents/tabid/2880/Default.aspx">
              <mat-icon>file_copy</mat-icon>
          </a>

          <button mat-button color = "primary" (click)="backToLogin()">
              <mat-icon>power_settings_new</mat-icon>
              Logout
          </button>
        </div>
        </div>
      </mat-toolbar>
  <!-- <mat-toolbar >
    <h4> Task Catalog &nbsp;&nbsp; </h4>
    <mat-icon matListAvatar color="primary" matTooltip = "User Info">account_box</mat-icon>
    <span>{{user.userName}} &nbsp;&nbsp;</span>
    <mat-icon matListAvatar color="primary">language</mat-icon>
    <span > {{selectedRegion}} &nbsp;&nbsp;</span>
    <span class="example-fill-remaining-space"></span>
    <span> <b>Actions: </b> </span>
    <button mat-button color = "primary" [matMenuTriggerFor]="region">
        <mat-icon>language</mat-icon>
        Pick a different region
    </button>

    <mat-menu #region="matMenu">
      <button mat-menu-item *ngFor="let item of regionList"
      (click)="chooseRegion(item.regionByRegionId.regionName)"> {{item.regionByRegionId.regionName}} </button>
    </mat-menu>

    <button mat-button color = "primary" (click)="backToLogin()">
        <mat-icon>power_settings_new</mat-icon>
        Logout
    </button>

  </mat-toolbar> -->

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" [(ngModel)] = "globalFilter">
  </mat-form-field>
  <button mat-button color="primary" (click)="clearAllFilters()">Clear All Filters</button>



  <table mat-table [dataSource] = "dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef ="viewTask">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background"></th>
      <td mat-cell *matCellDef= "let row">
        <button mat-button color = "primary" (click)="showTask(row)">
            <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="viewTask-filter">
        <th mat-header-cell *matHeaderCellDef>

        </th>
    </ng-container>


    <ng-container matColumnDef ="taskId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Task ID</th>
      <td mat-cell *matCellDef= "let element">
        {{element.taskId}}
      </td>
    </ng-container>

   <ng-container matColumnDef ="serviceName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Service</th>
      <td mat-cell *matCellDef= "let element">
        {{element.serviceName}}
      </td>
    </ng-container>

   <ng-container matColumnDef ="program">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Program</th>
      <td mat-cell *matCellDef= "let element">
        {{element.program}}
      </td>
    </ng-container>

   <ng-container matColumnDef ="subProgram">
       <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Sub Program</th>
       <td mat-cell *matCellDef= "let element">
         {{element.subProgram}}
       </td>
     </ng-container>

     <ng-container matColumnDef ="taskCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Task Category</th>
        <td mat-cell *matCellDef= "let element">
          {{element.taskCategory}}
        </td>
      </ng-container>

      <ng-container matColumnDef ="taskName">
         <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Task</th>
         <td mat-cell *matCellDef= "let element">
           {{element.taskName}}
         </td>
       </ng-container>

    <ng-container matColumnDef="myInput">
     <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background"
      matTooltip="Displays the input you provided, if applicable. You may select the task in question to update your prior entry if necessary. "
     >
       My Input <i class="material-icons help-text-icon"
       placement="bottom"
       >help</i>
      </th>
     <td mat-cell *matCellDef="let element">
             {{element.myInput}}
     </td>
   </ng-container>

   <!--<ng-container matColumnDef ="approved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Approved</th>
      <td mat-cell *matCellDef= "let element">
        <button mat-icon-button color="primary" >
            <mat-icon class="mat-18">done_all</mat-icon>
        </button>
      </td>
    </ng-container> -->

   <ng-container matColumnDef ="statusCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background"
      matTooltip="'Not started' indicates that no input has been provided for this task.
      'Pending' indicates that one or more inputs have been provided, and that the Region lead / Approver has not yet made the final input selection.
      'Approved' indicates that the assigned Region lead / Approver has validated the final input and closed the item. Please e-mail your assigned Region lead / Approver with any additional comments you may have. ">
        Status <i class="material-icons help-text-icon" placement="bottom"
         >help</i>
        </th>
      <td mat-cell *matCellDef= "let element">
        {{element.taskStatus}}
      </td>
    </ng-container>

    <ng-container matColumnDef ="inputCount">
       <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background"
       matTooltip="Yes answer indicates that at least one input was received; No answer indicates that there has been no input provided by anyone in the region so far. Filter for Yes on this column to select only the tasks that have received one or more inputs across the region so far.">
         Input Received <i class="material-icons help-text-icon" placement="bottom"
          >help</i>
        </th>
       <td mat-cell *matCellDef= "let element">
         {{element.inputReceived}}
       </td>
     </ng-container>

     <ng-container matColumnDef ="feedbackReceived">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">
        Feedback Received
       </th>
      <td mat-cell *matCellDef= "let element">
        {{element.feedbackReceived}}
      </td>
    </ng-container>

    <ng-container matColumnDef ="toBeEnteredBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">
        To Be Entered By
       </th>
      <td mat-cell *matCellDef= "let element">
        {{element.toBeEnteredBy}}
      </td>
    </ng-container>

     <!-- Task Id Filter Column -->
    <ng-container matColumnDef="taskId-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input class="filter-input" value="{{filteredValues.taskId}}"
            (keyup)="applyColumnFilter($event.target.value, 'taskId')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Service Filter Column -->
    <ng-container matColumnDef="serviceName-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input" value="{{filteredValues.serviceName}}"
            (keyup)="applyColumnFilter($event.target.value, 'serviceName')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Program Filter Column -->
    <ng-container matColumnDef="program-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input" value="{{filteredValues.program}}"
            (keyup)="applyColumnFilter($event.target.value, 'program')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Sub Program Filter Column -->
    <ng-container matColumnDef="subProgram-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input" value="{{filteredValues.subProgram}}"
            (keyup)="applyColumnFilter($event.target.value, 'subProgram')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Task Category Filter Column -->
    <ng-container matColumnDef="taskCategory-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input" value="{{filteredValues.taskCategory}}"
            (keyup)="applyColumnFilter($event.target.value, 'taskCategory')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Task Filter Column -->
    <ng-container matColumnDef="taskName-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input" value="{{filteredValues.taskName}}"
            (keyup)="applyColumnFilter($event.target.value, 'taskName')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Myinput Filter Column -->
    <ng-container matColumnDef="myInput-filter">
      <th mat-header-cell *matHeaderCellDef>
      <input  class="filter-input" value="{{filteredValues.myInput}}"
        (keyup)="applyColumnFilter($event.target.value, 'myInput')"
        placeholder="Filter">
      </th>
    </ng-container>

    <!-- Status Filter Column -->
    <ng-container matColumnDef="statusCode-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input" value="{{filteredValues.statusCode}}"
            (keyup)="applyColumnFilter($event.target.value, 'statusCode')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Count Input Filter Column -->
    <ng-container matColumnDef="inputCount-filter">
      <th mat-header-cell *matHeaderCellDef>
        <input class="filter-input" value="{{filteredValues.inputCount}}"
          (keyup)="applyColumnFilter($event.target.value, 'inputCount')"
          placeholder="Filter">
      </th>
    </ng-container>

    <!-- Feedback Received Filter Column -->
    <ng-container matColumnDef="feedbackReceived-filter">
      <th mat-header-cell *matHeaderCellDef>
        <input class="filter-input" value="{{filteredValues.feedbackReceived}}"
          (keyup)="applyColumnFilter($event.target.value, 'feedbackReceived')"
          placeholder="Filter">
      </th>
    </ng-container>

    <!-- To Be Entered By Filter Column -->
    <ng-container matColumnDef="toBeEnteredBy-filter">
      <th mat-header-cell *matHeaderCellDef>
        <input class="filter-input" value="{{filteredValues.toBeEnteredBy}}"
          (keyup)="applyColumnFilter($event.target.value, 'toBeEnteredBy')"
          placeholder="Filter">
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedFilterColumns" class="example-second-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<mat-paginator #paginator
  [pageSizeOptions]="[5, 20, 50, 100]" showFirstLastButtons
  (page)="pageEvent = handlePage($event)"></mat-paginator>
</div>
