<div align="center">

  <mat-toolbar >
    <h4> Task Catalog &nbsp;&nbsp; </h4>
    <mat-icon matListAvatar color="primary" matTooltip = "User Info">account_box</mat-icon>
    <span>{{user.userName}} &nbsp;&nbsp;</span>
    <mat-icon matListAvatar color="primary">language</mat-icon>
    <span > {{selectedRegion}} &nbsp;&nbsp;</span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span> <b>Actions: </b> &nbsp;&nbsp;</span>
    <button mat-button color = "primary" [matMenuTriggerFor]="region">
        <mat-icon>language</mat-icon>
        Pick a different region
    </button>

    <mat-menu #region="matMenu">
      <button mat-menu-item *ngFor="let item of regionList"
      (click)="chooseRegion(item.regionByRegionId.regionName)"> {{item.regionByRegionId.regionName}} </button>
    </mat-menu>

    <button mat-button color = "primary" (click)="backToLogin()">
        <mat-icon>power_settings_new</mat-icon>
        Logout
    </button>

  </mat-toolbar>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource] = "dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef ="taskId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Task ID</th>
      <td mat-cell *matCellDef= "let element">
        {{element.taskId}}
      </td>
    </ng-container>

   <ng-container matColumnDef ="serviceName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Service</th>
      <td mat-cell *matCellDef= "let element">
        {{element.serviceName}}
      </td>
    </ng-container>

   <ng-container matColumnDef ="program">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Program</th>
      <td mat-cell *matCellDef= "let element">
        {{element.program}}
      </td>
    </ng-container>

   <ng-container matColumnDef ="subProgram">
       <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Sub Program</th>
       <td mat-cell *matCellDef= "let element">
         {{element.subProgram}}
       </td>
     </ng-container>

     <ng-container matColumnDef ="taskCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Task Category</th>
        <td mat-cell *matCellDef= "let element">
          {{element.taskCategory}}
        </td>
      </ng-container>

      <ng-container matColumnDef ="taskName">
         <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Task</th>
         <td mat-cell *matCellDef= "let element">
           {{element.taskName}}
         </td>
       </ng-container>

    <ng-container matColumnDef="input">
     <th mat-header-cell *matHeaderCellDef class="th-header-background">My Input</th>
     <td mat-cell *matCellDef="let element">
         <button mat-icon-button color="primary" >
             {{element.myInput}}
         </button>
     </td>
   </ng-container>

   <!--<ng-container matColumnDef ="approved">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Approved</th>
      <td mat-cell *matCellDef= "let element">
        <button mat-icon-button color="primary" >
            <mat-icon class="mat-18">done_all</mat-icon>
        </button>
      </td>
    </ng-container> -->

   <ng-container matColumnDef ="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Status</th>
      <td mat-cell *matCellDef= "let element">
        {{element.statusBySttsId.statusCode}}
      </td>
    </ng-container>

    <ng-container matColumnDef ="count">
       <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-header-background">Input Count</th>
       <td mat-cell *matCellDef= "let element">
         {{element.inputCount}}
       </td>
     </ng-container>

     <!-- Task Id Filter Column -->
    <ng-container matColumnDef="taskId-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input class="filter-input"
            (keyup)="applyColumnFilter($event.target.value, 'taskId')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Service Filter Column -->
    <ng-container matColumnDef="serviceName-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input"
            (keyup)="applyColumnFilter($event.target.value, 'serviceName')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Program Filter Column -->
    <ng-container matColumnDef="program-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input"
            (keyup)="applyColumnFilter($event.target.value, 'program')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Sub Program Filter Column -->
    <ng-container matColumnDef="subProgram-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input"
            (keyup)="applyColumnFilter($event.target.value, 'subProgram')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Task Category Filter Column -->
    <ng-container matColumnDef="taskCategory-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input"
            (keyup)="applyColumnFilter($event.target.value, 'taskCategory')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Task Filter Column -->
    <ng-container matColumnDef="taskName-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input"
            (keyup)="applyColumnFilter($event.target.value, 'taskName')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Myinput Filter Column -->
    <ng-container matColumnDef="input-filter">
      <th mat-header-cell *matHeaderCellDef> </th>
    </ng-container>

    <!-- Approved Filter Column -->
    <ng-container matColumnDef="approved-filter">
      <th mat-header-cell *matHeaderCellDef> </th>
    </ng-container>

    <!-- Status Filter Column -->
    <ng-container matColumnDef="status-filter">
        <th mat-header-cell *matHeaderCellDef>
          <input  class="filter-input"
            (keyup)="applyColumnFilter($event.target.value, 'taskName')"
            placeholder="Filter">
        </th>
    </ng-container>

    <!-- Count Input Filter Column -->
    <ng-container matColumnDef="count-filter">
      <th mat-header-cell *matHeaderCellDef>
        <input class="filter-input"
          (keyup)="applyColumnFilter($event.target.value, 'status')"
          placeholder="Filter">
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedFilterColumns" class="example-second-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showTask(row)"></tr>
  </table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
