.loginForm {
  min-height: 50vh;
  padding-top: 80px;
  width: 350px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.login-table {
  width: 85%;
  margin: auto;
}

.login-table .mat-form-field {
  width: 100%;
}
