<form class="loginForm" [formGroup]="loginForm" >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table cellspacing="0" class="login-table">
          <tr>
            <td>
              <div class="form-group">
                <mat-form-field>
                  <input matInput placeholder="Username" name="username" required
                  formControlName="username" class="form-control">
                </mat-form-field>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Password" type="password" name="password"
                formControlName="password" class="form-control" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <span style="color:red;" *ngIf="errMsg != null">{{errMsg}}</span>
            </td>
          </tr>
        </table>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button type= "submit" mat-raised-button color="primary" (click)="onSubmit()">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
