<h1 mat-dialog-title>Reset Password</h1>
<div mat-dialog-content style="min-height:200px;">
  <p *ngIf="errorMsg != null" style="color:red">{{errorMsg}}</p>
  <form class="resetForm" [formGroup]="resetForm">
    <mat-form-field class="p-2">
      <input matInput placeholder="Username" name="userName" required formControlName="userName">
      <mat-error>
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="p-2">
      <input matInput placeholder="Password" type="password" name="password" formControlName="password" required>
      <mat-error>
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="p-2">
      <input matInput placeholder="New Password" type="password" name="newPassword" formControlName="newPassword"
        required minlength="6" maxlength="15">
      <mat-error
        *ngIf="resetForm.controls['newPassword'].errors != null && resetForm.controls['newPassword'].errors.required">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="resetForm.controls['newPassword'].errors != null && resetForm.controls['newPassword'].errors.minlength">
        Password length must match be minimum of 6
      </mat-error>
    </mat-form-field>

    <mat-form-field class="p-2">
      <input matInput placeholder="Confirm Password" type="password" name="confirmPassword"
        formControlName="confirmPassword" required minlength="6" maxlength="15">
      <mat-error
        *ngIf="resetForm.controls['confirmPassword'].errors != null && resetForm.controls['confirmPassword'].errors.required">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error
        *ngIf="resetForm.controls['confirmPassword'].errors != null && resetForm.controls['confirmPassword'].errors.incorrect">
        Password must match with new password
      </mat-error>
      <mat-error
        *ngIf="resetForm.controls['confirmPassword'].errors != null && resetForm.controls['confirmPassword'].errors.minlength">
        Password length must match be minimum of 6
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div style="font-size:14px;">
  <li>Password needs to be 6-15 characters in length and may be any combination of keyboard characters.</li>
  <li>If you forget your password, please reach out to project team.</li>
  <br>
</div>
<div class="text-center">
  <button mat-raised-button (click)="closeDialog('No')" class="mr-2">Cancel</button>
  <button mat-raised-button color="primary" (click)="resetPassword()" [disabled]="!resetForm.valid">Reset</button>
</div>
