/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */

@import "theme.scss";
@include mat-core();
@include angular-material-theme($my-theme);

.logo {
  width: 200px;
  background-color: #1f4e79;
}

.logo-sbb {
  background: white;
  padding: 1px;
}

/*html {
  height: 100%;
}

body {
  min-height: 100vh;
}*/


// html, body {
//   margin: 0px;
//   padding: 0px;
//   min-height: 100%;
//   height: 100%;
// }


.mat-sort-header-arrow {
  color: white !important;
}

.loginForm .mat-card-header-text {
  width: 100%;
}

.loginForm .mat-card-header-text .mat-card-title {
  text-align: center;
}

.blue-snackbar {
    background: #2196F3;
}
.green-snackbar {
    background: #1D7D47;
}
.red-snackbar {
    background: #B00020;
}

.material-icons {
  /* Support for IE */
  font-feature-settings: 'liga';
}

.mat-tooltip {
  font-size: 13px !important;
}

.font-color-black{
  color: black !important;
}

.mat-form-field-label mat-label {
  color: black !important;
  font-size: 18px !important;
}

.task-input-multiplier {
  margin: 3px 3px 10px 10px !important;
  height: 34px !important;
}

.task-input-multiplier-btn {
  margin: 3px 3px 10px 0px !important;
}

.task-input-multiplier-btn:disabled {
  color: lightgrey !important;
}

.next_task_icon{
  font-size: 40px;
  height: auto !important;
  width: auto !important;
}

.mat-tab-body-content{
  padding: 3px;
}

.mat-tab-label .mat-tab-label-content {
  color: #1f4e79;
  font-weight: bold;
}

.mat-tab-label-active{
  opacity: 1 !important;
  background-color: lightgrey;
}